/*
Write by Jumper Luko (www.jumperl.com)
mailto: jumper.luko@gmail.com
Create: 09 Aug 2018
Modified: 24 Aug 2018

Please Read for help:
* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
* https://www.w3schools.com/w3css/w3css_responsive.asp
*/

* { box-sizing: border-box;}
body{
    margin: 0;padding: 0;
    /* Unlock below and it will be like float left */
    /* display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content: flex-start; */
}

/*---- ---- Responsive Grid ---- ----*/
/* Adjust size on father elements, column and row */
[class*="gcol-"] {
    display: grid;
    grid-template-columns: 100%;
}
@media only screen and (min-width: 300px) {
    .gcol--1 {grid-template-columns: 100%;}
    .gcol--2 {grid-template-columns: 50% 50%;}
    .gcol--3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol--4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol--5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol--6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol--7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol--8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol--9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol--10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol--11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol--12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 350px) {
    .gcol-ss-1 {grid-template-columns: 100%;}
    .gcol-ss-2 {grid-template-columns: 50% 50%;}
    .gcol-ss-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-ss-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-ss-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-ss-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-ss-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-ss-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-ss-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-ss-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-ss-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-ss-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 600px) {
    .gcol-s-1 {grid-template-columns: 100%;}
    .gcol-s-2 {grid-template-columns: 50% 50%;}
    .gcol-s-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-s-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-s-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-s-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-s-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-s-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-s-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-s-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-s-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-s-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 768px) {
    .gcol-1 {grid-template-columns: 100%;}
    .gcol-2 {grid-template-columns: 50% 50%;}
    .gcol-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 960px) {
    .gcol-m-1 {grid-template-columns: 100%;}
    .gcol-m-2 {grid-template-columns: 50% 50%;}
    .gcol-m-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-m-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-m-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-m-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-m-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-m-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-m-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-m-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-m-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-m-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 1200px) {
    .gcol-b-1 {grid-template-columns: 100%;}
    .gcol-b-2 {grid-template-columns: 50% 50%;}
    .gcol-b-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-b-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-b-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-b-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-b-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-b-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-b-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-b-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-b-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-b-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}
@media only screen and (min-width: 1760px) {
    .gcol-g-1 {grid-template-columns: 100%;}
    .gcol-g-2 {grid-template-columns: 50% 50%;}
    .gcol-g-3 {grid-template-columns: 33.3334% 33.3334% 33.3334%;}
    .gcol-g-4 {grid-template-columns: 25% 25% 25% 25%;}
    .gcol-g-5 {grid-template-columns: 20% 20% 20% 20% 20%;}
    .gcol-g-6 {grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
    .gcol-g-7 {grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
    .gcol-g-8 {grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
    .gcol-g-9 {grid-template-columns: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
    .gcol-g-10 {grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    .gcol-g-11 {grid-template-columns: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
    .gcol-g-12 {grid-template-columns: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}
}

[class*="grow-"] {
    display: grid;
}
.grow-1 {grid-template-rows: 100%;}
.grow-2 {grid-template-rows: 50% 50%;}
.grow-3 {grid-template-rows: 33.3334% 33.3334% 33.3334%;}
.grow-4 {grid-template-rows: 25% 25% 25% 25%;}
.grow-5 {grid-template-rows: 20% 20% 20% 20% 20%;}
.grow-6 {grid-template-rows: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;}
.grow-7 {grid-template-rows: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;}
.grow-8 {grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;}
.grow-9 {grid-template-rows: 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112% 11.1112%;}
.grow-10 {grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
.grow-11 {grid-template-rows: 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909% 9.0909%;}
.grow-12 {grid-template-rows: 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334% 8.3334%;}

/*---- ---- Responsive Flex ---- ----*/
/* Adjust size on child elements, only column */
[class*="fcol-"] {
    width: 100%;
    display: flex;
}
@media only screen and (min-width: 350px) {
    .fcol-ss-1 {width: 8.33%;}
    .fcol-ss-2 {width: 16.66%;}
    .fcol-ss-3 {width: 25%;}
    .fcol-ss-4 {width: 33.33%;}
    .fcol-ss-5 {width: 41.66%;}
    .fcol-ss-6 {width: 50%;}
    .fcol-ss-7 {width: 58.33%;}
    .fcol-ss-8 {width: 66.66%;}
    .fcol-ss-9 {width: 75%;}
    .fcol-ss-10 {width: 83.33%;}
    .fcol-ss-11 {width: 91.66%;}
    .fcol-ss-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
    .fcol-s-1 {width: 8.33%;}
    .fcol-s-2 {width: 16.66%;}
    .fcol-s-3 {width: 25%;}
    .fcol-s-4 {width: 33.33%;}
    .fcol-s-5 {width: 41.66%;}
    .fcol-s-6 {width: 50%;}
    .fcol-s-7 {width: 58.33%;}
    .fcol-s-8 {width: 66.66%;}
    .fcol-s-9 {width: 75%;}
    .fcol-s-10 {width: 83.33%;}
    .fcol-s-11 {width: 91.66%;}
    .fcol-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .fcol-1 {width: 8.33%;}
    .fcol-2 {width: 16.66%;}
    .fcol-3 {width: 25%;}
    .fcol-4 {width: 33.33%;}
    .fcol-5 {width: 41.66%;}
    .fcol-6 {width: 50%;}
    .fcol-7 {width: 58.33%;}
    .fcol-8 {width: 66.66%;}
    .fcol-9 {width: 75%;}
    .fcol-10 {width: 83.33%;}
    .fcol-11 {width: 91.66%;}
    .fcol-12 {width: 100%;}
}
@media only screen and (min-width: 960px) {
    .fcol-m-1 {width: 8.33%;}
    .fcol-m-2 {width: 16.66%;}
    .fcol-m-3 {width: 25%;}
    .fcol-m-4 {width: 33.33%;}
    .fcol-m-5 {width: 41.66%;}
    .fcol-m-6 {width: 50%;}
    .fcol-m-7 {width: 58.33%;}
    .fcol-m-8 {width: 66.66%;}
    .fcol-m-9 {width: 75%;}
    .fcol-m-10 {width: 83.33%;}
    .fcol-m-11 {width: 91.66%;}
    .fcol-m-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .fcol-b-1 {width: 8.33%;}
    .fcol-b-2 {width: 16.66%;}
    .fcol-b-3 {width: 25%;}
    .fcol-b-4 {width: 33.33%;}
    .fcol-b-5 {width: 41.66%;}
    .fcol-b-6 {width: 50%;}
    .fcol-b-7 {width: 58.33%;}
    .fcol-b-8 {width: 66.66%;}
    .fcol-b-9 {width: 75%;}
    .fcol-b-10 {width: 83.33%;}
    .fcol-b-11 {width: 91.66%;}
    .fcol-b-12 {width: 100%;}
}
@media only screen and (min-width: 1760px) {
    .fcol-g-1 {width: 8.33%;}
    .fcol-g-2 {width: 16.66%;}
    .fcol-g-3 {width: 25%;}
    .fcol-g-4 {width: 33.33%;}
    .fcol-g-5 {width: 41.66%;}
    .fcol-g-6 {width: 50%;}
    .fcol-g-7 {width: 58.33%;}
    .fcol-g-8 {width: 66.66%;}
    .fcol-g-9 {width: 75%;}
    .fcol-g-10 {width: 83.33%;}
    .fcol-g-11 {width: 91.66%;}
    .fcol-g-12 {width: 100%;}
}

/*---- ---- Responsive vanilla ---- ----*/
/* Adjust size on child elements, only column, vanilla mode */
[class*="vcol-"] {
    width: 100%;
}
@media only screen and (min-width: 350px) {
    .vcol-ss-1 {width: 8.33%;}
    .vcol-ss-2 {width: 16.66%;}
    .vcol-ss-3 {width: 25%;}
    .vcol-ss-4 {width: 33.33%;}
    .vcol-ss-5 {width: 41.66%;}
    .vcol-ss-6 {width: 50%;}
    .vcol-ss-7 {width: 58.33%;}
    .vcol-ss-8 {width: 66.66%;}
    .vcol-ss-9 {width: 75%;}
    .vcol-ss-10 {width: 83.33%;}
    .vcol-ss-11 {width: 91.66%;}
    .vcol-ss-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
    .vcol-s-1 {width: 8.33%;}
    .vcol-s-2 {width: 16.66%;}
    .vcol-s-3 {width: 25%;}
    .vcol-s-4 {width: 33.33%;}
    .vcol-s-5 {width: 41.66%;}
    .vcol-s-6 {width: 50%;}
    .vcol-s-7 {width: 58.33%;}
    .vcol-s-8 {width: 66.66%;}
    .vcol-s-9 {width: 75%;}
    .vcol-s-10 {width: 83.33%;}
    .vcol-s-11 {width: 91.66%;}
    .vcol-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .vcol-1 {width: 8.33%;}
    .vcol-2 {width: 16.66%;}
    .vcol-3 {width: 25%;}
    .vcol-4 {width: 33.33%;}
    .vcol-5 {width: 41.66%;}
    .vcol-6 {width: 50%;}
    .vcol-7 {width: 58.33%;}
    .vcol-8 {width: 66.66%;}
    .vcol-9 {width: 75%;}
    .vcol-10 {width: 83.33%;}
    .vcol-11 {width: 91.66%;}
    .vcol-12 {width: 100%;}
}
@media only screen and (min-width: 960px) {
    .vcol-m-1 {width: 8.33%;}
    .vcol-m-2 {width: 16.66%;}
    .vcol-m-3 {width: 25%;}
    .vcol-m-4 {width: 33.33%;}
    .vcol-m-5 {width: 41.66%;}
    .vcol-m-6 {width: 50%;}
    .vcol-m-7 {width: 58.33%;}
    .vcol-m-8 {width: 66.66%;}
    .vcol-m-9 {width: 75%;}
    .vcol-m-10 {width: 83.33%;}
    .vcol-m-11 {width: 91.66%;}
    .vcol-m-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .vcol-b-1 {width: 8.33%;}
    .vcol-b-2 {width: 16.66%;}
    .vcol-b-3 {width: 25%;}
    .vcol-b-4 {width: 33.33%;}
    .vcol-b-5 {width: 41.66%;}
    .vcol-b-6 {width: 50%;}
    .vcol-b-7 {width: 58.33%;}
    .vcol-b-8 {width: 66.66%;}
    .vcol-b-9 {width: 75%;}
    .vcol-b-10 {width: 83.33%;}
    .vcol-b-11 {width: 91.66%;}
    .vcol-b-12 {width: 100%;}
}
@media only screen and (min-width: 1760px) {
    .vcol-g-1 {width: 8.33%;}
    .vcol-g-2 {width: 16.66%;}
    .vcol-g-3 {width: 25%;}
    .vcol-g-4 {width: 33.33%;}
    .vcol-g-5 {width: 41.66%;}
    .vcol-g-6 {width: 50%;}
    .vcol-g-7 {width: 58.33%;}
    .vcol-g-8 {width: 66.66%;}
    .vcol-g-9 {width: 75%;}
    .vcol-g-10 {width: 83.33%;}
    .vcol-g-11 {width: 91.66%;}
    .vcol-g-12 {width: 100%;}
}

/*---- ---- Elements Text ---- ----*/
/* Fonts Sizes, i'm like. You just can remove the point.*/
@media only screen and (max-width: 767px) {
.h1{font-size:54px;}
.h2{font-size:32px;}
.h3{font-size:22px;}
.h4{font-size:18px;}
.h5{font-size:15px;}
.h6{font-size:13px;}
.h7{font-size:11px;}
.h8{font-size:9px;}
}
@media only screen and (min-width: 768px) {
.h1{font-size:63px;}
.h2{font-size:38px;}
.h3{font-size:26px;}
.h4{font-size:21px;}
.h5{font-size:18px;}
.h6{font-size:15px;}
.h7{font-size:13px;}
.h8{font-size:11px;}
}
@media only screen and (min-width: 960px) {
.h1{font-size:74px;}
.h2{font-size:44px;}
.h3{font-size:31px;}
.h4{font-size:25px;}
.h5{font-size:21px;}
.h6{font-size:18px;}
.h7{font-size:15px;}
.h8{font-size:13px;}
}

.rightText{text-align: right;}
.leftText{text-align: left;}
.centerText{text-align:center;}
.justifyText{text-align: justify;}
.inheritText{text-align: inherit;}

/*---- ---- Elements Flex and Grid ---- ----*/
/* These elements can be used in Flex and grid */
.left,.startH{justify-content: flex-start;}
.right,.endH{justify-content: flex-end;}

.up{
    align-content: flex-start;
    align-items: flex-start;
}
.up1{align-content: flex-start;}
.up2, .items-start{align-items: flex-start;}

 .down{
     align-content: flex-end;
     align-items: flex-end;
 }
.down1{align-content: flex-end;}
.down2, .items-end{align-items: flex-end;}

.center{
    justify-content:center;
    align-content: center;
    align-items: center;
}
.centerA{
    justify-content:center;
    align-content: center;
}
.centerB{
    justify-content:center;
    align-items: center;
}
.centerH{justify-content: center;}
.centerV{align-content: center; align-items: center;}
.centerV1{align-content: center;}
.centerV2, .items-center{align-items: center;}

.between{
    justify-content: space-between;
    align-content: space-between;
}
.betweenH{justify-content: space-between;}
.betweenV{align-content: space-between;}

.around{
    justify-content: space-around;
    align-content: space-around;
}
.aroundH{justify-content: space-around;}
.aroundV{align-content: space-around;}

.stretchV{align-content:stretch;}
.stretchV2, .items-stretch{align-items: stretch;}

.evenly{justify-content: space-evenly;}

.baseline, .items-baseline{align-items: baseline;}

.inline, .start{
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}.inline-inverse, .end{
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

/*---- ---- Elements Flex only ---- ----*/
/* These elements can be used only in Flex */
html {font-family: "Lucida Sans", sans-serif, Arial;}
.flex{display: flex;}
.wrap{flex-wrap:wrap;}
.column{flex-direction: column;}
.row{flex-direction: row;}
.inlineF,.startF{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
}.inlineF-inverse,.endF{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap:wrap;
}

/*---- ---- Elements Grid only ---- ----*/
/* These elements can be used only in Grid */
.grid{display: grid;}

/*---- ---- Menu Flex ---- ----*/
/* Menu Dropdown! please use div */
.dropdown{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; /* or column */
    /* put the height and width here! */
}
.dropdown > .dropdown-title{
    width: 100%;
    height: 100%;
}
.dropdown > .dropdown-sub{
    display: none;
    z-index: 1;
    flex-direction: column; /* or row */
    /* width: 100%; */
}
.dropdown:hover > .dropdown-sub {
    display: flex;
}.dropdown:hover > .dropdown-sub  > .dropdown-option:hover{
    /* background-color: #abcdef; */
}
/*
<div class="dropdown" style="height: 20px;">
    <div class="dropdown-title">Title</div>
    <div class="dropdown-sub">
        <div class="dropdown-option">option 1</div>
        <div class="dropdown-option">option 2</div>
    </div>
</div>
*/
